<div id="sign-up" class="section-3 wf-section">
    <div class="main-container">
      <div class="small-container center-align">
        <h2 class="heading-4">Subscribe to our Press List</h2>
        <p class="paragraph-2">Get the latest on the US-ASEAN Business Council's expert insights and agenda-shaping programs on Southeast Asia</p>
        <div class="email-sign-up padding-top w-form">
          <form id="email-form" name="email-form" data-name="email" method="get" class="form-2" data-netlify="true" data-ajax="true" data-content-type="application/x-www-form-urlencoded"><input type="email" class="text-field-2 w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Enter your email" id="email-2" required=""><input type="submit" value="Sign up" data-wait="Please wait..." class="submit-button w-button"></form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
  </div>