<div data-w-id="e80a0129-a058-7b69-e932-61ee9aec5d96" class="footer">
    <div class="main-container">
      <div class="grid-footer">
        <div class="footer-block">
          <div>
            <a href="/landing-page-1" class="footer-link">Landing Page 1</a>
            <a href="/landing-page-2" class="footer-link">Landing Page 2</a>
            <a href="/landing-page-3" class="footer-link">Landing Page 3</a>
            <a href="/landing-page-4" class="footer-link">Landing Page 4</a>
            <a href="/contact" class="footer-link">Contact</a>
            <a href="/about" class="footer-link">About</a>
          </div>
          <div>
            <a href="/licenses" class="footer-link">Licenses</a>
            <a href="/style-guide" class="footer-link">Style Guide</a>
            <a href="/changelog" class="footer-link">Changelog</a>
            <a href="/401" aria-current="page" class="footer-link w--current">Password</a>
            <a href="/404" class="footer-link">404</a>
          </div>
          <div>
            <a href="http://twitter.com" target="_blank" class="footer-link">Twitter</a>
            <a href="http://instagram.com" target="_blank" class="footer-link">Instagram</a>
            <a href="http://fb.com" target="_blank" class="footer-link">Facebook</a>
          </div>
        </div>
      </div>
    </div>
  </div>